<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <%- style %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-ecohabit">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="/">
          <strong>EcoHabit 🌿</strong>
        </a>
        <strong>
          <a class="navbar-brand d-flex align-items-center nav-link" href="/landing">Habits</a>
        </strong>            <strong>
          <a class="navbar-brand d-flex align-items-center nav-link" href="/details">Details</a>
        </strong>
        <strong>
          <a class="navbar-brand d-flex align-items-center nav-link text-danger" href="/logout">Logout</a>
        </strong>
      </div>
    
      <div class="container-fluid search d-flex justify-content-end">
        <form class="search-form">
          <input
            type="search"
            id="searchbar"
            class="form-control search-input"
            placeholder="Search Habit"
            aria-label="Search"
            onkeyup="search_habit()"
          />
          <button type="button" class="btn search-btn">Search</button>
        </form>           
      </div>
    </nav>   

    <br />
    <div class="container"><%- body %></div>

    <%- script %>
    <script type="text/javascript" src="/js/layout.js"></script>
  </body>
</html>
