body{
  background-color: #f0fdf4; 
  background-image: url('https://img.freepik.com/free-photo/greenery-frame-watercolor-green_53876-105303.jpg'); 
  background-size: cover;       
  background-repeat: no-repeat;
  background-position: center;
}
/* Heading */
#heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 3% 10%;
    color: #2f855a;
  }
  
  /* Container Styling */
  #box {
    padding: 2%;
    margin: 2% auto;
    max-width: 900px;
    border: 0.8px solid #2f855a;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.1);
  }
  .box{
    background-color: #ede8d0;
  }
  
  /* Week Days Navigation */
  .week-days {
    display: flex;
    justify-content: space-evenly;
    background-color: #ede8d0;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 1rem;
    list-style: none;
  }
  
  .week-days li {
    padding: 8px 12px;
    border: 1px solid #38a169;
    border-radius: 6px;
    background: #ede8d0;
    color: #2f855a;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .week-days li:hover {
    background-color: #85816b;
    color: white;
  }
  
  /* Habits List */
  #habits {
    max-height: 55vh;
    overflow-y: auto;
    padding-right: 10px;
  }
  
  #habits li {
    display: flex;
    flex-direction: column;
    background-color: #ede8d0;
    border: 0.8px solid #2f855a;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  /* Habit Info Row */
  .habit-streak {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .habit-streak h4 {
    text-transform: capitalize;
    margin: 0;
    font-weight: medium;
    margin-left: 20px;
    margin-bottom: 2px;
    color: #2f855a;
  }
  
  .habit-streak p {
    margin: 0;
    color: #4a5568;
  }
  
  /* Day Buttons */
  .week-days form button {
    background: #38a169;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .week-days form button:hover {
    background: #2f855a;
  }
  
  /* Scrollbar for habit list */
  #habits::-webkit-scrollbar {
    width: 8px;
  }
  #habits::-webkit-scrollbar-thumb {
    background-color: #c6f6d5;
    border-radius: 4px;
  }
  